<header class="animated blog-cover fadeIn" {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}})"{{/if}}>
    <h1 class="blog-title">{{@blog.title}}</h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
</header>
