<div class="sidebar text-right meta">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time datetime="{{date format='YYYY-MM-DD'}}">{{date format='DD MMM YYYY'}}</time>
    </div>
    <span class="separator animated fadeInUp">//</span>
    <div class="tags animated fadeInUp">
        {{#if tags}}
            <strong>Tags</strong>
            {{tags separator=""}}
        {{/if}}
    </div>
</div>
