{{!< default}}

{{> index-meta}}

{{#foreach posts}}

    <header class="animated fadeIn">
        <div class="container">
            <div class="title animated fadeInUp">
                <a href="{{url}}">
                    <h1>{{title}}</h1>
                </a>
            </div>
            {{> sidebar}}
        </div>
    </header>

    <article class="animated fadeIn {{post_class}}">
        <div class="container">
            <p>{{excerpt words="100"}}&hellip;</p>
        </div>
    </article>

{{/foreach}}
